<div class="section">
{% if results.hasPages %}
        <ul class="pagination">
            <li>
                {% if results.currentPage > 1 %}
                    <a href="{{ frontendUser.previousPageUrl }}" rel="prev">«</a>
                {% else %}
                    <span class="disabled">«</span>
                {% endif %}
            </li>

            {% for page in range(1, results.lastPage) %}
                <li>
                    <a href="{{ results.url(page) }}">{{ page }}</a>
                </li>
            {% endfor %}

            <li>
                {% if results.hasMorePages %}
                    <a href="{{ results.nextPageUrl }}" rel="next">»</a>
                {% else %}
                    <span class="disabled">»</span>
                {% endif %}
            </li>
        </ul>
{% endif %}
</div>